{% extends "base.html" %}

{% block language %}en{% endblock %}
{% block slug %}{{ meta.slug }}{% endblock %}
{% block url %}{{ base_url }}en/{{ meta.slug }}/{% endblock %}
{% block description %}Criticism of existing societies, power structures, and economic systems. Ideas for more free and more solidary soieties. Thoughts on ways how to get there.{% endblock %}
{% block keywords %}transformation, anarchist societies, anarchy, anarchism, solidarity, freedom, utopia, social transformation, prefiguration{% endblock %}
{% block title %}Transform Social | {{ meta.title }}{% endblock %}
