{% extends "base.html" %}

{% block language %}en{% endblock %}
{% block title %}Notes on transformations into anarchist societies{% endblock %}
{% block description %}Criticism of existing societies, power structures, and economic systems. Ideas for more free and more solidary soieties. Thoughts on ways how to get there.{% endblock %}
{% block keywords %}transformation, anarchist societies, anarchy, anarchism, solidarity, freedom, utopia, social transformation, prefiguration{% endblock %}

{% block content %}
  {{content}}
{% endblock %}
