<a href="/en/about/" class="{% if meta.slug=='about' %}{{mactive}}{% else %}{{mpassive}}{% endif %}">
  About
</a>
<a href="/en/texts/" class="{% if meta.is_text %}{{mactive}}{% else %}{{mpassive}}{% endif %}">
  Texts
</a>
<a href="/en/links/" class="{% if meta.slug=='links' %}{{mactive}}{% else %}{{mpassive}}{% endif %}">Links</a>
<a class="w3-bar-item w3-button w3-padding-large" id="theme-toggle" aria-label="toggle light/dark mode" aria-role="button" onclick="toggleMode()">
  <span class="dark-img">☀️</span><span class="light-img">🌑</span>
</a>
<a class="w3-bar-item w3-button w3-padding-large" rel="me" href="https://climatejustice.social/@transform" target="_blank">
  {% include 'mastodon_snippet.html' %}
</a>
