{% extends "base.html" %}

{% block language %}en{% endblock %}
{% block slug %}{{ meta.slug }}{% endblock %}
{% block url %}{{ base_url }}en/{{ meta.slug }}/{% endblock %}
{% block description %}Criticism of existing societies, power structures, and economic systems. Ideas for more free and more solidary soieties. Thoughts on ways how to get there.{% endblock %}
{% block keywords %}transformation, anarchist societies, anarchy, anarchism, solidarity, freedom, utopia, social transformation, prefiguration{% endblock %}
{% block title %}Transform Social | {{ meta.title }}{% endblock %}

{% block content %}
  {{ content }}

  {% if meta.slug == 'texts' %}
    {% for article in articles|sort(attribute="meta.year_month", reverse=True) if article.meta.type == 'text' %}
      <h5><a href="/en/texts/{{article.meta.slug}}/" >{{article.meta.title}}</a></h5>

      <p>by {{article.meta.author}}, {{article.meta.year_month}}</p>

      {% if article.meta.tags %}
          <div class="w3-row-padding" >
              <b>Keywords:</b> {{article.meta.tags|join(", ")}}
          </div>
      {% endif %}

      <br>
      <br>

      <div class="w3-row-padding">
        <div class="w3-twothird">
          {{article.meta.summary}}
          <p>
            <a href="/texte/{{article.meta.slug}}/" >
              <img src="/images/{{article.meta.slug}}.jpg" alt="{{article.meta.tags|join(' ')}}" />
            </a>
          </p>
        </div>

        <div class="w3-third">
          {% if article.meta.catchphrases %}
            <b>Extracts:</b>
            {% for cp in article.meta.catchphrases %}
              <p><i>{{cp}}</i></p>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="w3-row-padding">
        <a href="/texte/{{article.meta.slug}}/" >&rarr; Full Text</a>
      </div>
      <hr/>
    {% endfor %}
  {% endif %}


  {% if meta.slug == 'bibliothek' %}
    {% for article in articles|sort(attribute="meta.date", reverse=True) if article.meta.type == 'bibliothek' %}
      <p><a class="anchor" name={{article.meta.slug}}></a></p>

      <h5>{{article.meta.title}}</h5>

      {% if article.meta.author %}
        <p>by {{article.meta.author}}</p>
      {% endif %}

      <div class="row" >
        <div class="col-lg-2 col-md-2 col-xs-12" >
          <a href={{article.meta.url}} target="__blank">&rarr; Link</a>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12" >
          {% if article.meta.date %}
          <b>Date:</b> {{article.meta.year_month}}
          {% endif %}
        </div>

        <div class="col-lg-6 col-md-6 col-xs-12" >
          {% if article.meta.tags %}
            <b>Keywords:</b> {{article.meta.tags|join(", ")}}
          {% endif %}
        </div>
      </div>

      <br>
      <br>

      <div class="row" >
        <div class="col-lg-7 col-md-7 col-xs-12" >
          {{article.content}}
        </div>

        <div class="col-lg-5 col-md-5 col-xs-12" >
          {% if article.meta.catchphrases %}
            <b>Extracts:</b>
            {% for cp in article.meta.catchphrases %}
              <p><i>{{cp}}</i></p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <hr/>
    {% endfor %}
  {% endif %}
{% endblock %}
