{% extends "base.html" %}

{% block title %}Tags{% endblock %}
{% block url %}{{ base_url }}tags.html{% endblock %}

{% block content %}
  {% for tag, articles in tags|sort %}
    <div>
      <h2>{{tag}}</h2>
      {% for article in articles%}
        <div>
          {% if article.type == "text" %}
            <a href="texte/{{article.slug}}">{{article.title}}</a>
          {% else %}
            <a href="bibliothek/#{{article.slug}}">{{article.title}}</a> (Bibliothek)
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
