<h5><a href="{{article_url}}" >{{article.meta.title}}</a></h5>

<div class="w3-row">
  <div class="w3-half">
    <p>{{article.meta.author}}, {{article.meta.year_month}}</p>
    <p>{{article.meta.summary}}</p>
    <br>
    <p>
      <a href="{{article_url}}" >
        <img src="/images/{{article.meta.slug}}.jpg" class="article-short-image" alt="{{article.meta.tags|join(' ')}}" />
      </a>
    </p>
    {% if article.meta.tags %}
      <p><b>{{l10n['keywords']}}:</b> {{article.meta.tags|join(", ")}}</p>
    {% endif %}
    <br/>
  </div>

  <div class="w3-half article-short-catchphrases">
    {% if article.meta.catchphrases %}
      <b>{{l10n['quotes']}}:</b>
      {% for cp in article.meta.catchphrases %}
        <p><i>{{cp}}</i></p>
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="w3-row">
  <a href="{{article_url}}" >&rarr; {{l10n['full_text']}}</a>
</div>
<hr/>
