<p><a class="anchor" name={{article.meta.slug}}></a></p>

<h5>{{article.meta.title}}</h5>

<div class="w3-row">
  <div class="w3-half">
    {% if article.meta.author %}
      <p>{{article.meta.author}}, {{article.meta.year_month}}</p>
    {% else %}
      <p>{{article.meta.year_month}}</p>
    {% endif %}
    <p><a href={{article.meta.url}} target="__blank">&rarr; Link</a></p>
    {% if article.meta.tags %}
      <p><b>{{l10n['keywords']}}:</b> {{article.meta.tags|join(", ")}}</p>
    {% endif %}
    <p>{{article.content}}</p>
  </div>

  <div class="w3-half article-short-catchphrases">
    {% if article.meta.catchphrases %}
      <b>{{l10n['quotes']}}:</b>
      {% for cp in article.meta.catchphrases %}
        <p><i>{{cp}}</i></p>
      {% endfor %}
    {% endif %}
  </div>
</div>

<hr/>
