{% extends "base.html" %}

{% block slug %}{{ meta.slug }}{% endblock %}
{% block url %}{{ base_url }}{{ meta.slug }}/{% endblock %}
{% block title %}Transform Social | {{ meta.title }}{% endblock %}

{% block content %}
  {{ content }}

  {% if meta.slug == 'texte' %}
    {% for article in articles|sort(attribute="meta.year_month", reverse=True) if article.meta.type == 'text' %}
      {% with article_url="/texte/" + article.meta.slug + "/", l10n={"keywords": "Schlagwörter", "quotes": "Zitate", "full_text": "Vollständiger Text"} %}
        {% include 'article_short.html' %}
      {% endwith %}
    {% endfor %}
  {% endif %}


  {% if meta.slug == 'bibliothek' %}
    {% for article in articles|sort(attribute="meta.date", reverse=True) if article.meta.type == 'bibliothek' %}
      {% include 'bib_entry.html' %}
    {% endfor %}
  {% endif %}
{% endblock %}
