{% extends "base.html" %}

{% block title %}Themen{% endblock %}
{% block url %}{{ base_url }}themen/{% endblock %}


{% block content %}
  <h1>Themen auf transform-social</h1>
  {% for tag, article_metas in tags|sort %}
    <div>
      <h2>{{tag}}</h2>
      {% for meta in article_metas|sort(attribute="title")%}
        <div>
          {% if meta.type == "text" %}
            <a href="/texte/{{meta.slug}}/">{{meta.title}}</a>
          {% else %}
            <a href="/bibliothek/#{{meta.slug}}">{{meta.title}}</a> (Bibliothek)
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
