body {
  color: #888;
}
h1, h2, h3, h4, h5, h6 {
  color: white;
}

a {
  color: #ab50a7;
  text-decoration: underline;
}
a:hover,
a:visited {
  color: #c06bbc;
}
a.anchor:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

nav.w3-bar {
  border-bottom: 1px solid #282828;
}
nav a, nav a:visited {
  color: #888 !important;
}
nav .w3-bar-item:hover {
  color: white !important;
  background-color: unset !important;
}
nav a.brand {
  color: white !important;
  font-size: 18px;
}
nav .w3-bar-item.nav-item {
  padding: 12px 10px;
}
nav .w3-bar-item.active {
  color: white !important;
}

.logo {
  max-width: 100%;
}
.navbar {
  line-height: 25px;
}
.footer {
  display: flex;
  justify-content: end;
  padding: 8px;
}
.icon {
  margin-right: 10px;
}
.social-icon-container {
  padding-top: 12px !important;
  padding-bottom: 4px !important;
}
.social-icon:hover {
  fill: #c06bbc;
}

hr {
  border-top: 1px solid #282828 !important;
}

.article-short-image {
  width: 100%;
  max-width: 390px;
}

.article-short-catchphrases {
  padding: 24px 0 0 20px;

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}
